<section id="about-banner" class="about-banner">
  <div class="container">
    <div class="row position-relative">
      <div class="about-banner swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="about-banner__item">
              <div class="row align-items-center">
                <div class="col-sm-6 col-12 pr-0">
                  <h3 class="about-banner__item-title">Почему именно мы?</h3>
                  <p class="about-banner__item-subtitle">Почему стоит покупать у нас</p>
                  <div class="about-banner__item-text">Постоянные скидки</div>
                </div>
                <div class="col-sm-6 col-12 pr-0 about-banner__item-img">

                  <img src="img/banner-1.png" alt="">

                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="about-banner__item">
              <div class="row align-items-center">
                <div class="col-sm-6 col-12 pr-0">
                  <h3 class="about-banner__item-title">Почему именно мы?</h3>
                  <p class="about-banner__item-subtitle">Почему стоит покупать у нас</p>
                  <div class="about-banner__item-text">Постоянные скидки</div>
                </div>
                <div class="col-sm-6 col-12 pr-0 about-banner__item-img">

                  <img src="img/banner-1.png" alt="">

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-navigation">
        <div class="swiper-nav-btn swiper-button-prev"></div>
        <div class="swiper-nav-btn swiper-button-next"></div>
      </div>
    </div>
  </div>
</section>