section#products {
    margin: 70px 0;
}

.products-grid {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(4, 23%);
    gap: 0% 2.7%;
    .product-card {
        margin-bottom: 30px;
    }
    @include netbook {
        grid-template-columns: 1fr 1fr 1fr;
    }

    @include tablet {
        grid-template-columns: 1fr 1fr;
    }

    @include mobile {
        grid-template-columns: 1fr 1fr;
    }
}
