section#products {
    margin: 70px 0;
}

.products-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .product-card {
        width: 23%;
        margin-bottom: 30px;

        @include mobile{
            width: 100%;
        }
    }
}