section#products {
    margin: 70px 0;
}

.products-grid {
    grid-template-columns: repeat(4, calc(25% - 2%));
    gap: 80px calc(2% + 9px);

    .product-card {
        &__cart {
            .add-to-cart {
                width: 150px;
            }
            .quick-purchase {
                font-size: 14px;
            }
        }
    }
}