@media (max-width: 768px) {
    .archive-campaign {
        width: 100%;

        .cards {
            grid-template-columns: 100%;
            grid-template-rows: repeat(auto-fill, 485px);
            gap: 30px 30px;
        }
    }
}

@media (max-width: 576px) {
    .archive-campaign {
        .cards {
            padding: 30px 15px;
        }
    }
}

@media (max-width: 520px) {

}

@media (max-width: 480px) {

}

@media (max-width: 460px) {
    
}

@media (max-width: 420px) {

}

@media (max-width: 380px) {
   
}